{
    "credentials" : {
        "username" : "whatever",
        "password" : "new_password"
    },
    "netatmo" : {
        "api" : {
            "client_id" : "",
            "client_secret": ""
        },
        "station" : {
            "type" : "weather", "sn" : "g00000", "name": "company" }
        },
        "modules" : {
            [ "type" : "indoor", "sn" : "i00000", "name" : "room 1"],
            [ "type" : "outdoor", "sn" : "h00000", "name" : "outdoor"],
        }
    }
}
